@layer ket.app {
  :where([data-kv-design-system]) [data-ui="spinner"] {
    display: inline-block;
    width: var(--kv-space-4);
    height: var(--kv-space-4);
    border: 2px solid currentcolor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: kv-spinner-spin var(--kv-duration-slow) linear infinite;
  }

  :where([data-kv-design-system]) [data-ui="spinner"][data-size="small"] {
    width: var(--kv-space-3);
    height: var(--kv-space-3);
  }
  :where([data-kv-design-system]) [data-ui="spinner"][data-size="large"] {
    width: var(--kv-space-6);
    height: var(--kv-space-6);
    border-width: 3px;
  }

  :where([data-kv-design-system]) [data-ui="visually-hidden"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  @keyframes kv-spinner-spin {
    to {
      transform: rotate(360deg);
    }
  }
}
